.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menuLinksContainer {
  display: flex;
}

.menuLinkWithOptionsContainer {
  display: inline-block;
  color: inherit;
  padding: 1rem;
}

.menuLinkWithOptions {
  display: flex;
  align-items: center;
}

.menuLink {
  display: flex;
  padding: 0.3rem 0;
  align-items: center;
  color: inherit;
}

.subMenu {
  display: flex;
  list-style: none;
  flex-direction: column;
  position: absolute;
  padding: 0;
  margin: 0;
}

.subMenuLink {
  text-align: center;
  position: relative;
}

.menuArrowWrapper {
  padding-left: 2px;
}

.menuArrowWrapperOpen {
  transform: scaleY(-1);
  padding-left: 2px;
}


